* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: 'BrandonTextBold';
  src: url('../resources/fonts/brandon/HvDTrial_Brandon_Text_Bold-BF6514e9eb720dc.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'BrandonTextRegular';
  src: url('../resources/fonts/brandon/HvDTrial_Brandon_Text_Regular-BF6514e9eb617a0.otf') format('opentype');
  font-weight: normal;
  line-height: 2.7rem;
}

@font-face {
  font-family: 'BrandonTextMedium';
  src: url('../resources/fonts/brandon/HvDTrial_Brandon_Text_Medium-BF6514e9eb272a3.otf') format('opentype');
  font-weight: 500;
  letter-spacing: 0.085em;
}

#hearing-test-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  height: 45em;
  width: 85em;
  background: radial-gradient(circle at 0%, #008545 20%, #008545 55%, #fff 55%);
  box-shadow:
    2em 2em 6em rgba(0, 0, 0, 0.2),
    0 0 0 rgba(0, 0, 0, 0.1),
    inset 0.5em 0.5em 3em rgba(0, 0, 0, 0.2);
  border-radius: 1em; 
  padding: 1em;

}

.app-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  background-image: url('../resources/images/logo/fg_green_bg_transparent.png');
  background-repeat: no-repeat;
  background-position: 97% 5%;
  transition: background-color 4s ease-out;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  padding: 2rem;
}

.app-header,
.app-middle,
.app-footer {
  display: flex;
  flex-flow: row nowrap;
}

.app-header,
.app-footer{
  flex: 1;

}
.app-middle {
  flex: 3;
}

.image-spinner,
.intro {
  width: 50%;
}

.image-spinner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-spinner > div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  opacity: 0;
}

.image-spinner > div.visible {
  width: 100%;
  height: 100%;
  background-size: contain;
  opacity: 1;
}


#title {
  font-family: 'BrandonTextBold';
  color: #fff;
  font-size: 3rem;
  line-height: 3.5rem;
  left: 1em;
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3);
}


.intro {
  padding-left: 14em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.intro > span {
  font-size: 2em;
  color: #2B2B2F;
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3);
  font-family: 'BrandonTextMedium';
  
}

.intro > .sub-intro {
  font-family: 'BrandonTextRegular';
  font-size: 1.2em;
}

.top-section ul li span {
  font-weight: 600;
  text-shadow: 1px 1px 2px rgb(255, 255, 255, 1);
}

.info {
  opacity: 1;
  transition: opacity 1s ease-out; 
}

.info.hide {
  opacity: 0;
}

#start-test-btn.hide {
  display: none;
}

.app.hide {
  background-position: -60% 85%;
  transition: background-position 2s ease-out; 
  .app-container {
    background-color: #eee;
    opacity: 1;
 
  }
  width: 65em;
  -webkit-transition:width 3000ms ease-in-out, height 3000ms ease-in-out;
  -moz-transition:width 3000ms ease-in-out, height 3000ms ease-in-out;
  -o-transition:width 3000ms ease-in-out, height 3000ms ease-in-out;
  transition:width 3000ms ease-in-out, height 3000ms ease-in-out;
  
}


.disclaimer {
  width: 100%;
  height: 25%;
}

.disclaimer ul {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  width: 100%;
  font-family: 'BrandonTextMedium';
  font-size: 1rem;
  color: #2B2B2F;
  list-style: none;
}


.start-button {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;
}



.button {
  font-size: 1.875rem;
  line-height: 2.5rem;
  border-radius: 6.25rem;
  background: var(--Doro-Green, #008545);
  border: 0;
  cursor: pointer;
  box-shadow: 0 0.563rem #014c28;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  outline: none !important;
  min-width: 9.375rem;
  color: var(--M3-sys-light-on-primary, var(--Doro-white, #FFF));
  font-family: 'BrandonTextMedium';
  display: flex;
  flex-direction: row;
  padding: 0.625rem 1.5rem 0.625rem 1rem;
  align-items: center;
  gap: 0.5rem;
  height: 2em;
}

.button span {
  font-size: 1.225rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: 0.00875rem;
}

.button:hover {
  transform: translateY(0.1em);
  box-shadow: 0 0.4rem var(--Doro-Green, #014c28);
}

.button svg {
  width: 1.5rem;
  height: 1.5rem;
}

/*---------------------*/

/* TEST PAGES */

