* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: 'BrandonTextBold';
  src: url('../resources/fonts/brandon/HvDTrial_Brandon_Text_Bold-BF6514e9eb720dc.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'BrandonTextRegular';
  src: url('../resources/fonts/brandon/HvDTrial_Brandon_Text_Regular-BF6514e9eb617a0.otf') format('opentype');
  font-weight: normal;
  line-height: 2.7rem;

}

@font-face {
  font-family: 'BrandonTextMedium';
  src: url('../resources/fonts/brandon/HvDTrial_Brandon_Text_Medium-BF6514e9eb272a3.otf') format('opentype');
  font-weight: 500;
  letter-spacing: 1.35px;
}

#hearing-test-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 80em;
  height: 45em;
  background: url('../resources/images/hearing_buds/hearing-bud-closer-to-case.png'), radial-gradient(circle at 0%, #008545 20%, #008545 55%, #fff 55%);
  background-repeat: no-repeat;
  background-position: 10% 85%;
  box-shadow:
    20px 20px 60px rgba(0, 0, 0, 0.2),
    0px 0px 0px rgba(0, 0, 0, 0.1),
    inset 5px 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  padding: 2rem;
}



.title {
  font-family: 'BrandonTextBold';
  color: #fff;
  font-size: 3rem;
  line-height: 3.5rem;
  left: 1em;
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3);
}


.info-top-section {
  padding: 2em 0 0 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.intro > span {
  font-size: 2em;
  color: #fff;
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3);
  font-family: 'BrandonTextMedium';
  
}

.intro > .sub {
  font-family: 'BrandonTextRegular';
  font-size: 1.2em;
}



.info-top-section ul li span {
  font-weight: 600;
  text-shadow: 1px 1px 2px rgb(255, 255, 255, 1);

}

.info-mid-section {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  position: relative;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  width: 35%;
  overflow: visible;
  font-family: 'BrandonTextMedium';
  font-size: 1.2rem;
  color: #2B2B2F;

}

.info-mid-section ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1em;
}


.info-low-section {
  display: flex;
  flex-flow: row wrap;
  align-items: end;
  justify-content: end;
  right: 3em;
  position: relative;
  height: 10em;
}

.form {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  background-image: url('../resources/images/logo/fg_green_bg_transparent.png');
  background-repeat: no-repeat;
  background-position: top right;

}

.button {
  font-size: 1.875rem;
  line-height: 2.5rem;
  border-radius: 6.25rem;
  background: var(--Doro-Green, #008545);
  border: 0;
  cursor: pointer;
  box-shadow: 0 0.563rem #014c28;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  outline: none !important;
  min-width: 9.375rem;
  color: var(--M3-sys-light-on-primary, var(--Doro-white, #FFF));
  font-family: 'BrandonTextMedium';
  display: flex;
  padding: 0.625rem 1.5rem 0.625rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex: 0 0 auto;

}


.button span {
  font-size: 1.225rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: 0.00875rem;
}


.button:hover {
  transform: translateY(3.5px);
  box-shadow: 0 0.35rem var(--Doro-Green, #014c28);
}

.button svg {
  width: 1.5rem;
  height: 1.5rem;
}