:root {
  --font-main: Roboto, sans-serif;
  --font-secondary: Inter, sans-serif;
  --color-black: #333F48;
  --color-lightgrey: #EAEAEA;
  --color-primary: #FFF;
  --color-brand: #008545;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: auto;
}

.container {
  height: 100vh;
  width: 75rem;
  background: var(--color-primary, #FFF);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sp-between {
  justify-content: space-between;
}

.sp-around {
  justify-content: space-around;
  padding: 3rem;
}

.hero-image {
  width: 75rem;
  height: 21.9375rem;
  flex-shrink: 0;
  background: url('../resources/images/hero/hero-image.png') var(--color-lightgrey) 50% / cover no-repeat;
}

.mid-section {
  display: flex;
  width: 53.75rem;
  flex-direction: column;
  gap: 1.5rem;
}

.centered {
  align-items: center;
}



div section.title {
  color: var(--color-black);
  font-family: var(--font-main);
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.5rem;
}

.main {
  align-self: stretch;
  text-align: center;
}

div section.title-sub {
  width: 35.5rem;
  color: var(--color-black);
  text-align: center;
  font-family: var(--font-main);
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

div section.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

input[type="date"] {
  height: 3.125rem;
  border-radius: 10rem;
  text-align-last: center;
  color: var(--color-black);
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  padding: 0.5rem;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6.94rem;
}

.nav-container .nav-button div {
  padding: 0.625rem 1rem;
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 6.25rem;
  cursor: pointer;
  background-color: var(--color-brand);
}

.nav-button.inactive div {
  background-color: var(--color-lightgrey);
  cursor: not-allowed;
}

.nav-button.inactive div p {
  color: var(--color-black);
  opacity: 0.38;
}

.nav-button.back div {
  flex-direction: row-reverse;
  background-color: var(--color-black);
}

.nav-button.back div .arrow-icon {
  transform: rotate(180deg);
}

.nav-container .nav-button p {
  margin: 0 0.5rem;
  font-family: var(--font-main);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.00625rem;
  color: var(--color-primary);
}

.arrow-icon {
  path {
    fill: var(--color-primary);
  }
}

.inactive path {
  fill: var(--color-black);
  opacity: 0.38;
}

.arrow-icon {
  background-image: url("../resources/images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.disclaimer,
.question,
label,
#other-text {
  color: var(--color-black, #333F48);
  font-family: var(--font-main, Roboto, sans-serif);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem;
}

#other-text {
  text-align-last: center;
  border-radius: 10rem;
}

#other-checkbox:not(:checked)+label+.input-text {
  display: none;
}

.disclaimer {
  margin-bottom: 4rem;
  width: 53.75rem;
}

.question {
  margin-bottom: 0.75rem;
  width: 53.75rem;
}


ul,
ol {
  display: flex;
  gap: 1.5rem;
  list-style-type: none;
  li {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    label {
      font-family: var(--font-secondary);
    }
  }
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.radio-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.part-1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.part-2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input[type="radio"],
input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

input[type="radio"]:checked::after,
input[type="checkbox"]:checked::after {
  background-color: var(--color-brand-green);
}

.page-number {
  color: var(--color-grey-black, #333F48);
  text-align: center;
  font-family: var(--font-main);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: 0.00875rem;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: 3rem 0;
}

progress {
  width: 71.25rem;
  height: 1rem;
  appearance: none;
}

progress::-webkit-progress-bar {
  background: var(--color-grey-light-grey, #EAEAEA);
  border-radius: 1rem;
}

progress::-webkit-progress-value {
  background: #008545;
  border-radius: 16px;
}

progress::-moz-progress-bar {
  background: #008545;
  border-radius: 16px;
}

.fade-in {
  animation: fadeIn ease 1s;
}

.fade-out {
  animation: fadeOut ease 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.part-3 {
  display: flex;
  width: 53.75rem;
  padding: 1.5rem 2.5rem;
  align-content: center;
  border-radius: 1rem;
  background: var(--surface-surface-softaccent, #EAEAEA);
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6875rem;
  flex: 1 0 0;
}

.inter-fs-1p5-fw-700-lh-2p25 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem;
}

.calibrate-info {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.roboto-fs-1p5-fw-400-lh-2p25 {
  color: var(--text-text-primary, #333F48);
  /* Body/Desktop/body 1 */
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem;
  /* 150% */
}

.part-4 {
  display: flex;
  flex-direction: row;
}

.calibrate {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.calibrate-important {
  display: flex;
  gap: 1.5rem;
}

.calibrate-info {
  display: flex;
  flex-direction: column;
}

.calibrate-info {
  width: 35.5rem;
}

.calibrate-info > ol {
  padding-left: 2rem;
  line-height: 2.25rem;
}

.calibrate-info > ol > span {
  color: var(--text-text-primary, #333F48);
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
}

.calibrate-button {
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
  border-radius: 0.9375rem;
  width: 18.3125rem;
  background: var(--surface-surface-softaccent, #EAEAEA);
}

.play-button {
  display: flex;
  width: 5rem;
  height: 5rem;
  padding: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 5.31913rem;
  background: var(--color-brand-green, #008545);
}

.hand-rub {
  width: 12.41356rem;
  height: 24.06006rem;
  transform: rotate(6.714deg);
  flex-shrink: 0;
  fill: var(--color-brand-green, #008545);
}